body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style-type: none;
}
.app-container{
  box-sizing: border-box;
}
.ancor{
  text-decoration:none;
  color:blue;
  font-weight:bold;
}
.error{
  color:red;
}
.styleByMe ul li{
  
   margin: .5rem 0;
   transition: ease .1s;
}

.styleByMe ul li:hover{
  
   background: rgb(76, 81, 87);
}


.home-container .home-content{
  background-image: url('./images/school-cover.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
   height:100vh;
}
.home-content{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.home-container .home-content div h1{
  color: #ffff;
  font-size: 5rem;
}
/* .cardStyle{
  width: 20rem;
} */
.cardStyle .admin{
  background-image: url('./images/admin.png');
   background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  height:50vh;
}

.cardStyle .teacher{
  background-image: url('./images/teacher.jpg');
   background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  height:50vh;
}

.cardStyle .student{
  background-image: url('./images/student.jpg');
   background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  height:50vh;
}

.home-container ul .teacher-li{
   margin:0 0rem;
}


.footer{
  display:flex;
  justify-content:center;
  align-items:center;
}

.user-container{
  height:100vh;
 /* background:red; */
 display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  
}

.signUp-container{
  /* background:red; */
  height:100vh;
}

.user-signUp-container{
  /* background:red; */
  height:100vh;
   display:flex;
  justify-content:center;
  align-items:center;
  
}
.user-signUp-container form{
  padding:1rem;
  border:.1rem rgba(0, 0, 0, 0.124) solid;
  border-radius: .5rem;
  min-height:13rem;
  width:20rem;
}
.mL{
  margin-left: 4rem;
}

.signUpIcon{
  font-size:3rem;
  text-align:center;
  color:blue;
}

.hmbtn{
  background:rgb(3, 3, 146,.7);
  border: none;
  color:#fff;
  font-size:2rem;
  border-radius:.5rem;
  padding:.5rem;

}


/* admin dashboard */
.admin-dashboard{
  /* background:red; */
  min-height:100vh;
  
}

.admin-dashboard ul li {
  margin: 1rem;
  background: rgb(59, 58, 58,.5);
  padding: .5rem;
  height: 10rem;
  width:20rem;
}
.admin-dashboard ul li .ancor{
  width: 100%;
  height: 100%;
}

.admin-dashboard .ul-container{
  min-height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;
 
}
.admin-dashboard .ul-container ul{
   /* background:red; */
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* all student  */
.all-student-container{
  min-height:100vh;
}

.active-student{
 color:green;
 
}
.inActive-student{
 color:red;
}

.add-student-container,.add-teacher-container{
  /* background: green; */
  /* width: 30rem; */
  display:flex;
  justify-content: center;
}
.add-student-container .add-student-content{
  width: 33rem;
  height:35rem;
  display:flex;
  justify-content: center;
  padding: .5ren;
  margin: 1rem 0;
  border: .1rem #333 solid;
  border-radius: .5rem;
}

.add-icon{
  text-align: center;
  font-size: 3em;
  color: green;
}

.add-student-buttons{

 display:flex;
  justify-content: space-between;
}
.add-student-buttons button{
  width:100%;
  margin:.5rem;
}














